<!-- Loop over each object in the projects array -->
<div class="container-intro">
    <div class="intro">
        <h1>AI Groovy Graphics</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam deserunt iusto illum dolorum incidunt
            magnam
            veritatis consequatur corrupti officia nulla, fuga non aut ullam. Delectus ex tempore corrupti alias. Illo!
        </p>
    </div>
</div>

<div class="container-row">
    <div class="d-flex flex-row justify-content-between flex-wrap">
        <div class="album-img">
            <img src="/photos/first-one.jpg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/first-one.jpg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/first-one.jpg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/first-one.jpg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/first-one.jpg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/first-one.jpg" alt="">
        </div>
    </div>
</div>

<div class="container">
    <button id="create-btn" class="btn btn-primary ">Create Album Covers</button>
</div>

<div class="container-reviews">
    <div class="d-flex flex-row justify-content-center flex-wrap">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>