<!-- Loop over each object in the projects array -->
<div class="container-intro">
    <div class="intro">
        <h1 class="dropping-heading">AI Groovy Graphics</h1>
        <div class="intro-content">
            <div class="intro-paragraph">
                <p class="dropping-paragraph">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam deserunt iusto illum dolorum
                    incidunt
                    magnam
                    veritatis consequatur corrupti officia nulla, fuga non aut ullam. Delectus ex tempore corrupti
                    alias.
                    Illo!
                </p>
            </div>
            <div class="intro-images-circle">
                <div class="slideshow">
                    <img src="/photos/DSotM-Alternate-Album-Cover-1-Upscaled.jpg" class="spin" alt="">
                    <img src="/photos/5dbedf8e8157fc501a5ac58b4c20f971.jpg" class="spin" alt="">
                    <img src="/photos/midjourney3.jpg" class="spin" alt="">
                    <img src="/photos/METALLICA-GUY_low-600x600-1.jpg" class="spin" alt="">
                    <img src="/photos/6397ba0682500720c636b126_63148533fc6ebc0bc46bf859_argo-11-p-500.jpg" class="spin" alt="">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-row">
    <div class="d-flex flex-row justify-content-between flex-wrap">
        <div class="album-img">
            <img src="/photos/first-one.jpg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/il_570xN.4699608873_4hum.jpg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/bazza_brothers_in_arms_93a534bf-b218-4838-a0b4-b1aa2a3b4ed7.jpg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/images (3).jpeg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/OIG-5.jpg" alt="">
        </div>
        <div class="album-img">
            <img src="/photos/artwork-hills-30x30cm-1.jpg" alt="">
        </div>
    </div>
</div>

<div class="container">
    <button id="create-btn" class="btn btn-primary ">Create Album Covers</button>
</div>

<div class="container-reviews">
    <div class="d-flex flex-row justify-content-center flex-wrap">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>