<!--Placeholder -->
<div style="height: 100px; background-color: white; font-weight: 600;">
<h1>THIS IS A PLACEHOLDER</h1>
<h3>User to be redirected to profile/ dashboard page once signed in?</h3>
</div>