body {
    font-family: 'Quicksand', sans-serif;
    background-image: url("/photos/pexels-bruno-thethe-1910236.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    align-items: center;
    background-color: currentColor;
   
}

#main-nav a {
    text-decoration: none;
    font-size: 20px;

}

.container-intro {
    background-color: currentColor;
    padding: 80px;
    border-bottom: groove;
}

.intro {
    width: 50%;
    margin-top: 2px;
    padding: 10px;
    color: white;
}


.intro p {
    font-size: 25px;
}

@keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropping-heading,
.dropping-paragraph {
    animation: dropDown 6s ease forwards;
}

.container-row {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    /* background-color: #282828; */
}

.album-img {
    width: 32%;
}

.album-img img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    transition: transform 0.5s ease;
}

.album-img img:hover {
    transform: scale(1.1) translate(50px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding-top: 20px;
}

#create-btn {
    border-radius: 3px;
    padding: 8px 50px;

}

.container-reviews {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
}

.container-reviews> div {
    gap: 20px;
}

.container-reviews .card {
    height: 300px;
}

