body {
    font-family: 'Quicksand', sans-serif;
    background-image: url("/photos/pexels-bruno-thethe-1910236.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 60px;
    align-items: center;
    background-color: currentColor;
}

.top-header h1 {
    color: white;
    padding: 10px;
    margin: 18px;
}

#main-nav a {
    text-decoration: none;
    font-size: 20px;
    color: white;

}

.container-intro {
    background-color: currentColor;
    padding: 40px;
    border-bottom: groove;
    display: flex;
    /* align-items: center; */
}



.intro {
    width: 50%;
    margin-top: 2px;
    padding: 10px;
    color: white;
}

.intro-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.intro-paragraph {
    flex: 1;
    margin-bottom: 20px;
}

.intro p {
    font-size: 25px;
}

.intro-images-circle {
    display: flex;
   flex-direction: row;
    height: auto;
    margin-left: auto;
}

.intro-images-circle img {
    width: 120px;
    height: auto;
    /* position: absolute; */
    margin-right: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: spin 10s linear infinite;
    /* padding: 10px; */
}

@keyframes spin {
    0% {
        transform: rotate(0deg) translate(-100px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(-100px) rotate(-360deg);
    }
}

/* .spin-container {
    animation: spin 25s linear infinite;
} */



/* @keyframes dropDown {
    0% {
        opacity: 0;
        transform: translateY(-50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */

.dropping-heading,
.dropping-paragraph {
    animation: dropDown 6s ease forwards;
}

.container-row {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
    /* background-color: #282828; */
}

.album-img {
    width: 32%;
}

.album-img img {
    width: 100%;
    height: auto;
    margin-top: 10px;
    transition: transform 0.5s ease;
}

.album-img img:hover {
    transform: scale(1.1) translate(50px);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    padding-top: 20px;
}

#create-btn {
    border-radius: 3px;
    padding: 8px 50px;

}

.container-reviews {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    padding: 40px;
}

.container-reviews> div {
    gap: 20px;
}

.container-reviews .card {
    height: 300px;
}

